// Font families
$font-primary: "Poppins", sans-serif;
$font-secondary: "Roboto Mono", monospace;

// Colours
$grey-first: #efefef;
$grey-second: #afafaf;
$white: #f5f5f5;
$black: #111111;
$black-secondary: #2b2b2b;

// Screensize
$tablet: 992px;
