.btn {
  border-radius: 5;
  padding: 7px 9px;

  @media (max-width: 1000px) {
    padding: 10px 20px;
  }
}

.quantity__btn {
  border-radius: 50px;
  background-color: $dark;
  color: $white;
  padding: 4px;
  border: 1px solid $black;
  margin: 0px;
  height: 35px;
  width: 35px;
}

// .quantity__btn--minus {
//  border-radius: 5px 0px 0px 5px;
//}

//.quantity__btn--plus {
//  border-radius: 0px 5px 5px 0px;
//}
