.btn {
  border-radius: 5;
  padding: 7px 9px;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  @media (max-width: 1000px) {
    padding: 10px 20px;
  }
}

.quantity__btn {
  border-radius: 50px;
  background-color: $dark;
  color: $white;
  padding: 4px;
  border: 1px solid $black;
  margin: 0px;
  height: 35px;
  width: 35px;
}
