.card {
  border-radius: 0;
  border: 0;

  img {
    border-radius: 0;
    max-height: 250px;
    object-fit: cover;
  }
}

.card-body {
  margin-top: 5px !important;
}

.card-icon {
  font-size: 22px;
  color: $grey-second;
}
