.card {
  border-radius: 0;
  border: 0;

  img {
    border-radius: 0;
    height: 250px;
    object-fit: cover;

    @media (max-width: 1000px) {
      height: 200px;
    }

    @media (max-width: 800px) {
      height: 160px;
    }
  }
}

.card-body {
  margin-top: 5px !important;
}

.card-icon {
  font-size: 22px;
  color: $grey-second;
}

.products__placeholder {
  background-color: $grey-second;
  height: 250px;

  @media (max-width: 1000px) {
    height: 200px;
  }

  @media (max-width: 800px) {
    height: 160px;
  }
}

.product-container_image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 500px;

  @media (max-width: 1200px) {
    height: 400px;
  }

  @media (max-width: 990px) {
    height: 300px;
  }

  @media (max-width: 770px) {
    height: 360px;
  }

  @media (max-width: 570px) {
    height: 360px;
  }

  & img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
}
