footer {
  background-color: $white;
}

.footer--bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer__icons {
  & i {
    font-size: 20px;
    height: 36px;
    width: 36px;
    padding: 8px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  & i:hover {
    color: $grey-second;
    transition: 0.3s;
    cursor: pointer;
  }
}

.copyright__container {
  background-color: black;
}
