footer {
  background-color: $grey-first;
}

.footer__icons {
  & i {
    font-size: 20px;
    height: 30px;
    width: 30px;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: $grey-second;
  }
}
