footer {
  background-color: $grey-first;
}

.footer__icons {
  & i {
    font-size: 20px;
    height: 36px;
    width: 36px;
    padding: 8px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 50px;
    background-color: $grey-second;
  }

  & i:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
    cursor: pointer;
  }
}
