.jumbotron {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
    url("../../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;

  @media (max-width: 1000px) {
    height: 400px;
  }
}

.hero {
  margin-top: 120px;

  @media (max-width: 1000px) {
    margin-top: 80px;
  }
}

.hero span {
  border-right: 0.06em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
