.offcanvas {
  background-color: $white;
}

.navigation__icons i {
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.15);
  }
}

.navbar-brand {
  & img {
    max-height: 30px;
  }
}
