.offcanvas {
  background-color: $white;
}

.navigation__icons {
  & img {
    max-width: 20px;
    margin: 0px 5px;
  }
}

.navbar-toggler {
  & img {
    max-width: 30px;
  }
}

.navbar-brand {
  & img {
    max-height: 30px;
  }
}
